extends layout

block content

  div#titlediv
    h1= title

  p#unbudgeted Unbudgeted Time: 168 hours

  table
    tr
      th= "Category"
      th= "Budgeted"
      th= "Activity"
      th= "Available"
    tr
      td= "Work"
      td= 0
      td= 0
      td= 0
    tr
      td= "Home"
      td= 0
      td= 0
      td= 0
    tr
      td= "Sleep"
      td= 0
      td= 0
      td= 0