extends layout

block content

  div#titlediv
    h1= title

  p#unbudgeted= "Unbudgeted Time: " + unbudgeted + " hours"

  table
    tr
      th= "Category"
      th= "Budgeted"
      th= "Activity"
      th= "Available"
    each time, category in timetable
      tr
        td= category
        td= time
        td= 0
        td= time
