extends layout

block content

  div#titlediv
    h1= title

  p#unbudgeted= "Unbudgeted Time: " + unbudgeted + " hours"

  script(src="javascripts/jquery.js")
  
  script.
   function changeTime(inputBox) {
      let newData = {};
      newData[inputBox.id] = inputBox.value;
      $.ajax({
        url: '/',
        type: 'POST',
        data: newData,
        failure: function() {alert("Failure");},
        error: function(jqxhl, err, exc) {alert("Error: ", jqxhl, err, exc);}
      }).done(function() {
        location.reload();
      });
    }

  table
    tr
      th= "Category"
      th= "Budgeted"
      th= "Activity"
      th= "Available"
    each time, category in timetable
      tr
        td= category
        td
          input(id=category, type="number", value=time, onchange="changeTime(this);")
        td= 0
        td= time
